In [2]:
import pandas as pd
import numpy as np

In [3]:
adult=pd.read_csv('Adults.csv')

In [4]:
adult.head()

,gender,cgain,closs,wkhrs,country,gt50k,age,jobtype,income,education,eduno,merital,jobrole,relation,race
0,Male,2174,0,40,United-States,<=50K,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White
1,Male,0,0,13,United-States,<=50K,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White
2,Male,0,0,40,United-States,<=50K,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White
3,Male,0,0,40,United-States,<=50K,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black
4,Female,0,0,40,Cuba,<=50K,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black

In [5]:
ad1=adult[['gender','cgain','closs']]

In [6]:
ad2=adult[['wkhrs','gender','age']]

In [7]:
adult.shape

(30162, 15)

In [9]:
iris=pd.read_csv('iris.csv')

In [10]:
iris.shape

(150, 5)

In [11]:
iris.head()

    sl   sw   pl   pw        class
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [12]:
ir1=iris[['sl','sw','pl']]

In [13]:
ir2=iris[['sl','sw','pw','class']]

In [19]:
iris_merge=pd.merge(ir1,ir2,on=['sl'])

In [20]:
iris_merge.head()

    sl  sw_x   pl  sw_y   pw        class
0  5.1   3.5  1.4   3.5  0.2  Iris-setosa
1  5.1   3.5  1.4   3.5  0.3  Iris-setosa
2  5.1   3.5  1.4   3.8  0.3  Iris-setosa
3  5.1   3.5  1.4   3.7  0.4  Iris-setosa
4  5.1   3.5  1.4   3.3  0.5  Iris-setosa

In [21]:
iris_sort=iris.sort_values(by="sl")

In [22]:
iris_sort

      sl   sw   pl   pw            class
13   4.3  3.0  1.1  0.1      Iris-setosa
42   4.4  3.2  1.3  0.2      Iris-setosa
38   4.4  3.0  1.3  0.2      Iris-setosa
8    4.4  2.9  1.4  0.2      Iris-setosa
41   4.5  2.3  1.3  0.3      Iris-setosa
22   4.6  3.6  1.0  0.2      Iris-setosa
3    4.6  3.1  1.5  0.2      Iris-setosa
6    4.6  3.4  1.4  0.3      Iris-setosa
47   4.6  3.2  1.4  0.2      Iris-setosa
2    4.7  3.2  1.3  0.2      Iris-setosa
29   4.7  3.2  1.6  0.2      Iris-setosa
12   4.8  3.0  1.4  0.1      Iris-setosa
45   4.8  3.0  1.4  0.3      Iris-setosa
24   4.8  3.4  1.9  0.2      Iris-setosa
11   4.8  3.4  1.6  0.2      Iris-setosa
30   4.8  3.1  1.6  0.2      Iris-setosa
57   4.9  2.4  3.3  1.0  Iris-versicolor
106  4.9  2.5  4.5  1.7   Iris-virginica
34   4.9  3.1  1.5  0.1      Iris-setosa
9    4.9  3.1  1.5  0.1      Iris-setosa
37   4.9  3.1  1.5  0.1      Iris-setosa
1    4.9  3.0  1.4  0.2      Iris-setosa
40   5.0  3.5  1.3  0.3      Iris-setosa
26   5.0  3.4  1.6  0.4      Iris-setosa
49   5.0  3.3  1.4  0.2      Iris-setosa
35   5.0  3.2  1.2  0.2      Iris-setosa
43   5.0  3.5  1.6  0.6      Iris-setosa
60   5.0  2.0  3.5  1.0  Iris-versicolor
7    5.0  3.4  1.5  0.2      Iris-setosa
93   5.0  2.3  3.3  1.0  Iris-versicolor
..   ...  ...  ...  ...              ...
58   6.6  2.9  4.6  1.3  Iris-versicolor
75   6.6  3.0  4.4  1.4  Iris-versicolor
86   6.7  3.1  4.7  1.5  Iris-versicolor
140  6.7  3.1  5.6  2.4   Iris-virginica
108  6.7  2.5  5.8  1.8   Iris-virginica
77   6.7  3.0  5.0  1.7  Iris-versicolor
65   6.7  3.1  4.4  1.4  Iris-versicolor
144  6.7  3.3  5.7  2.5   Iris-virginica
145  6.7  3.0  5.2  2.3   Iris-virginica
124  6.7  3.3  5.7  2.1   Iris-virginica
143  6.8  3.2  5.9  2.3   Iris-virginica
76   6.8  2.8  4.8  1.4  Iris-versicolor
112  6.8  3.0  5.5  2.1   Iris-virginica
139  6.9  3.1  5.4  2.1   Iris-virginica
141  6.9  3.1  5.1  2.3   Iris-virginica
52   6.9  3.1  4.9  1.5  Iris-versicolor
120  6.9  3.2  5.7  2.3   Iris-virginica
50   7.0  3.2  4.7  1.4  Iris-versicolor
102  7.1  3.0  5.9  2.1   Iris-virginica
129  7.2  3.0  5.8  1.6   Iris-virginica
125  7.2  3.2  6.0  1.8   Iris-virginica
109  7.2  3.6  6.1  2.5   Iris-virginica
107  7.3  2.9  6.3  1.8   Iris-virginica
130  7.4  2.8  6.1  1.9   Iris-virginica
105  7.6  3.0  6.6  2.1   Iris-virginica
122  7.7  2.8  6.7  2.0   Iris-virginica
118  7.7  2.6  6.9  2.3   Iris-virginica
117  7.7  3.8  6.7  2.2   Iris-virginica
135  7.7  3.0  6.1  2.3   Iris-virginica
131  7.9  3.8  6.4  2.0   Iris-virginica

[150 rows x 5 columns]

In [23]:
iris_trans=iris.T

In [24]:
iris_trans.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sl,5.1,4.9,4.7,4.6,5,5.4,4.6,5,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sw,3.5,3,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3,2.5,3,3.4,3
pl,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5,5.2,5.4,5.1
pw,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [25]:
iris_melt=iris.melt()

In [26]:
iris_melt.head()

  variable value
0       sl   5.1
1       sl   4.9
2       sl   4.7
3       sl   4.6
4       sl     5

In [27]:
adult

,gender,cgain,closs,wkhrs,country,gt50k,age,jobtype,income,education,eduno,merital,jobrole,relation,race
0,Male,2174,0,40,United-States,<=50K,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White
1,Male,0,0,13,United-States,<=50K,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White
2,Male,0,0,40,United-States,<=50K,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White
3,Male,0,0,40,United-States,<=50K,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black
4,Female,0,0,40,Cuba,<=50K,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black
5,Female,0,0,40,United-States,<=50K,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White
6,Female,0,0,16,Jamaica,<=50K,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black
7,Male,0,0,45,United-States,>50K,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White
8,Female,14084,0,50,United-States,>50K,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White
9,Male,5178,0,40,United-States,>50K,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White
10,Male,0,0,80,United-States,>50K,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black
11,Male,0,0,40,India,>50K,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander
12,Female,0,0,30,United-States,<=50K,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White
13,Male,0,0,50,United-States,<=50K,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black
14,Male,0,0,45,Mexico,<=50K,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo
15,Male,0,0,35,United-States,<=50K,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White
16,Male,0,0,40,United-States,<=50K,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White
17,Male,0,0,50,United-States,<=50K,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White
18,Female,0,0,45,United-States,>50K,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White
19,Male,0,0,60,United-States,>50K,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White
20,Female,0,0,20,United-States,<=50K,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black
21,Male,0,0,40,United-States,<=50K,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black
22,Male,0,2042,40,United-States,<=50K,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White
23,Female,0,0,40,United-States,<=50K,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White
24,Male,0,0,40,United-States,>50K,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White
25,Male,0,0,40,United-States,<=50K,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White
26,Male,0,0,80,United-States,<=50K,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White
27,Male,0,0,40,United-States,<=50K,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White
28,Male,0,0,52,United-States,<=50K,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White
29,Male,0,0,44,United-States,<=50K,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30132,Male,0,0,40,United-States,<=50K,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White
30133,Male,0,0,40,United-States,<=50K,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White
30134,Female,0,0,40,United-States,<=50K,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White
30135,Female,0,0,35,United-States,<=50K,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White
30136,Male,0,0,60,United-States,>50K,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White
30137,Male,0,0,50,Japan,>50K,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander
30138,Female,0,0,39,United-States,<=50K,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White
30139,Male,0,0,35,United-States,<=50K,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black
30140,Female,0,0,55,United-States,>50K,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White
30141,Male,0,0,46,United-States,<=50K,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black
30142,Female,15020,0,45,United-States,>50K,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black
30143,Female,0,0,40,United-States,<=50K,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White
30144,Female,0,0,48,United-States,<=50K,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White
30145,Female,0,0,30,United-States,<=50K,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other
30146,Female,0,0,20,United-States,>50K,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White
30147,Female,0,0,40,United-States,<=50K,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White
30148,Male,0,0,40,Mexico,<=50K,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White
30149,Male,1086,0,60,United-States,<=50K,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White
30150,Female,0,0,40,United-States,<=50K,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White
30151,Male,0,0,50,United-States,<=50K,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White
30152,Male,0,0,40,United-States,<=50K,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo
30153,Male,0,0,45,United-States,<=50K,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White
30154,Male,0,0,11,Taiwan,<=50K,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander
30155,Male,0,0,40,United-States,>50K,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White
30156,Male,0,0,40,United-States,<=50K,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White
30157,Female,0,0,38,United-States,<=50K,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White
30158,Male,0,0,40,United-States,>50K,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White
30159,Female,0,0,40,United-States,<=50K,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White
30160,Male,0,0,20,United-States,<=50K,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White
30161,Female,15024,0,40,United-States,>50K,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White

In [28]:
adult_cast=adult.drop_duplicates(['income'])

In [29]:
adult_cast.shape

(20263, 15)

In [30]:
adult_c=adult_cast.pivot(index='income',columns='wkhrs',values='cgain')

In [31]:
adult_c.head()

wkhrs,1,2,3,4,5,6,7,8,9,10,...,85,87,88,89,90,91,95,96,98,99
income,,,,,,,,,,,,,,,,,,,,,
13769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN